.sec{
    background-size: cover;
    background-position: center center;
}




.sec2{
    background: url(../img/divider-bg.jpg);
    background-size: cover;
    background-position: center bottom;
}

.sec3{
    background: url(../img/壁纸2.jpg);
    background-size: cover;
    background-position: center center;
}


#test-editormd{
    font-family: "微软雅黑"!important;
}

body{
    background-color: rgb(236, 239, 241)!important;
    z-index: 999!important;
    position :relative!important;
}


.post:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px) ;
    transform: translateY(-5px);
    -webkit-box-shadow: 0 6px 16px rgba(0,0,0,0.12);
    box-shadow: 0 6px 16px rgba(0,0,0,0.12);
}

