<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="foot" class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="logo">
                    <h6 class="text-white">徐浩博的技术小站</h6>
                </div>
                <div class="contact-details">
                    <p>Phone: 15690116825</p>
                    <p>Email: 511928849@qq.com</a></p>
                    <ul class="social-menu">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-behance"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="menus d-flex">
                    <ul class="list-unstyled">
                        <li> <a>友链</a></li>
                        <li th:each="fl:${fls}"> <a href="#" th:text="${fl.name}" th:href="|${fl.link}|">My Account</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                Design by Xuhaobo CopyRight © 2020<br>
                <a href="http://www.beian.miit.gov.cn">ICP证:津20001109</a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>