<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="header::head(博客用户注册)">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>用户修改密码</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<style>
    .text-danger{
        font-weight: bold;
        display: none;
    }
</style>

<body class="bg-info">
<link rel="stylesheet"  th:href="@{/css/login.css}"  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<div class="container">
    <div class="row justify-content-center" style="height: 800px">
        <div class="align-self-center" style="height: 520px;width: 600px">
            <div class="card justify-content-lg-center">
                <div class="card-header">用户找回/修改密码</div>
                <div class="card-body">
                    <form id="form" method="post" >
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-5 col-form-label">您的昵称:</label>
                            <div>
                                <input type="text" class="form-control" name="name">
                                <div class="text-danger" id="name">姓名不能为空</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-5 col-form-label">您的邮箱:</label>
                            <div>
                                <input type="email" name="email" class="form-control" id="inputEmail3">
                                <div class="text-danger" id="email" >邮箱不能为空</div>
                                <button type="button" onclick="sendCode()" id="getCode" class="btn btn-success">获取验证码</button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-5 col-form-label">验证码:</label>
                            <div>
                                <input  name="checkCode" class="form-control" >
                                <div class="text-danger" id="checkCode" >验证码不能为空</div>
                            </div>


                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-5 col-form-label">新密码(6位到12位)</label>
                            <div>
                                <input type="password" name="password" class="form-control" id="inputPassword3">
                                <div class="text-danger" id="password" >密码不能为空</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-5 col-form-label">确认密码</label>
                            <div>
                                <input type="password" name="passwordCheck" class="form-control" id="inputPassword">
                                <div class="text-danger" id="passwordCheck" >两次密码不一致</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <button type="submit" class="col-sm-12 btn btn-info">重置密码</button>
                                <button type="button" class="col-sm-12 btn btn-light" onclick="window.location.replace(document.referrer);">返回</button>
                            </div>
                        </div>
                        <iframe id="iframe" name="iframe" style="display:none;"></iframe>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- regist.js -->
<script>
    $(
        function () {
            $('#getCode').hide();
            isEmpty=function(str)
            {
                return str==null||str==""||str.trim().length==0;
            };
            $("[name='email']").blur(
                function () {
                    if(checkEmail()==false){
                        $('#email').show();
                        $('#getCode').hide();
                    }else{
                        $('#getCode').show();
                        $('#email').hide();
                    }
                }
            );
            checkPassword=function () {
                password=$("[name='password']").val();
                var anw=false;
                if(isEmpty(password))
                {
                    $('div#password').show();
                    $('div#password').text("密码不能为空或全空格");
                }else if(password.trim().length!=password.length)
                {
                    $('div#password').show();
                    $('div#password').text("密码中不得出现非法字符如空格");
                }else if(password.length>12||password.length<6)
                {
                    $('div#password').show();
                    $('div#password').text("密码规定六位至十二位");
                }else {
                    $('div#password').hide();
                    anw = true;
                }
                return anw;
            };

            $("[name='password']").blur(
                function () {
                    checkPassword();
                }
            );

            passWordEqual=function () {
                return $("[name='password']").val()===$("[name='passwordCheck']").val()
            };

            $("[name='passwordCheck']").blur(
                function () {
                    if(!passWordEqual())
                    {
                        $('#passwordCheck').show();
                    }else
                    {
                        $('#passwordCheck').hide();
                    }
                }
            );
            sendCode=function () {
                $.ajax({
                    //请求方式
                    type : "POST",
                    url : "/user/sendEmailCode",
                    //数据，json字符串
                    data : {"email":$("[name='email']").val()},        //不设置异步
                    //请求成功
                    success : function() {
                        alert("发送成功!请在30分钟内查看邮箱验证码!");
                        $('#getCode').text("重新发送");
                    }
                });
            };
            checkName=function () {
                nm=$("[name='name']").val();
                var anw=true;
                if(isEmpty(nm))
                {
                    $('div#name').show();
                    $('div#name').text("姓名不能为空");
                    anw=false;
                }else if(nm.trim().length!=nm.length)
                {
                    $('div#name').show();
                    $('div#name').text("名字中不能含有空格");
                    anw=false;
                }
                else
                {
                    $('div#name').hide();
                   anw=true;
                };
                return anw;
            };
            checkEmail=function () {
                email=$("[name='email']").val();
                var reg = /^[a-zA-Z0-9]+([-_.][a-zA-Z0-9]+)*@[a-zA-Z0-9]+([-_.][a-zA-Z0-9]+)*\.[a-z]{2,}$/;
                var anw=false;
                if(isEmpty(email))
                {
                    $('div#email').text("邮箱不能为空");
                    $('div#email').show();
                }else if(reg.test(email)===-1||email.indexOf('@')===-1)
                {
                    $('div#email').text("邮箱格式错误");
                    $('div#email').show();
                }else{
                    anw=true;
                }
                return anw;
            };
            checkCodes=function(){
                anw=false;
                checkCode=$("[name='checkCode']").val();
                if(isEmpty(checkCode))
                {
                    $('div#checkCode').text("验证码不能为空");
                    $('div#checkCode').show();
                }else{
                    $('div#checkCode').hide();
                    anw=true;
                }
                return anw;
            };
            $("[name='name']").blur(
                function()
                {
                    checkName();
                }
            );

            $("[name='checkCode']").blur(
                function()
                {
                    checkCodes();
                }
            );

            $("form#form").submit(
                function (event) {
                    if(checkName()&&checkEmail()&&checkPassword()&&passWordEqual()&&checkCodes())
                    {
                        $.ajax({
                            //请求方式
                            type : "POST",
                            url : "/user/forgetAndChangeUser",
                            //数据，json字符串
                            data :$('#form').serialize(),        //不设置异步
                            //请求成功
                            success : function(anw) {
                                alert(anw.webSocketMessage);
                                if(anw.success==true){
                                    window.location.href="/user/login";
                                }
                            }
                        });
                    }else
                    {
                        alert("请检查您的用户信息是否填写完整");
                        event.preventDefault();
                    }
                    return false;
                }
            );


        }
    )
</script>


</body>

</html>